/* Layout Index */

.jumbotron-fluid {
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-custom {
    max-width: 40rem;
    margin: 0 auto;
}

.container {
    max-width: 100%;
}

    /* Images */

.img-center {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
}
.img-navbar {
    background-image: url(./images/navbar.png);
}
.img-footer {
    background-image: url(./images/footer.png);
}
.img-forms {
    background-image: url(./images/forms.png);
}
.img-banners {
    background-image: url(./images/banners.png);
}
.img-cards {
    background-image: url(./images/cards.png);
}

/* ---------------------------------------------------------- */

/* Page footer */

.footer {
    height: 10em;
    display: flex;
    justify-content: center;
}
.footer-list {
    width: 30em;
}

/* ---------------------------------------------------------- */

/* Bannières */

.jumbo {
    display: flex;
    position: relative;
    z-index: 1;
}
.jumbo-huge {
    height: 40rem;
    background-image: url(./images/banner-huge.jpg);
}
.jumbo-layer {
    z-index: -1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.jumbo-std {
    height: 20rem;
    background-image: url(./images/banner-std.jpg);
}

/* ---------------------------------------------------------- */

/* Cartes */

.img-event {
    background-image: url(./images/event.jpg); 
}
.media-img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-image: url(./images/profile.jpg);
}
.img-city {
    background-image: url(./images/paris.jpg);
}